.sbj_has-modal {
    overflow: hidden;

    .sbj_modal-container {
        bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;

        .sbj_modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $bg_modal-backdrop;
        }

        .sbj_modal {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: auto;
            .sbj_modal-content {
                position: absolute;
                display: inline-block;
                top: 20px;
                left: 0px;
                right: 0px;
                width: 90%;
                margin: auto;
                text-align: left;
                background: $bg_modal-content;
                @include animation-name(sbj_insert-modal);
                @include animation-duration(.5s);
                @include keyframes(sbj_insert-modal) {
                    0% {
                        top: -20px;
                    }
                    50% {
                        top: 25px;
                    }
                    100% {
                        top: 20px;
                    }
                };
                @include keyframes(sbj_remove-modal) {
                    0% {
                        top: 20px;
                    }
                    50% {
                        top: 25px;
                        opacity: 1;
                    }
                    100% {
                        top: 0px;
                        opacity: 0;
                    }
                };
            }
            &.sbj_modal-alert,
            &.sbj_modal-confirm {
                .sbj_modal-content {
                    top: 40%;
                    width: 35%;
                    @include animation-name(sbj_insert-modal-alert);
                    @include keyframes(sbj_insert-modal-alert) {
                        0% {
                            top: 35%;
                        }
                        50% {
                            top: 42%;
                        }
                        100% {
                            top: 40%;
                        }
                    };
                    @include keyframes(sbj_remove-modal-alert) {
                        0% {
                            top: 40%;
                        }
                        50% {
                            top: 42%;
                            opacity: 1;
                        }
                        100% {
                            top: 35%;
                            opacity: 0;
                        }
                    };
                }
            } 
            &.remove {
                .sbj_modal-content {
                    @include animation-name(sbj_remove-modal);
                }
                &.sbj_modal-alert,
                &.sbj_modal-confirm {
                    .sbj_modal-content {
                        @include animation-name(sbj_remove-modal-alert);
                    }
                }
            }
            &.large {
                .sbj_modal-content {
                    width: $size_large;
                }
            }
            &.medium {
                .sbj_modal-content {
                    width: $size_medium;
                }
            }
            &.small {
                .sbj_modal-content {
                    width: $size_small;
                }
            } 
        }
    }
}