@mixin animation-name($name){
    animation-name: $name;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    -ms-animation-name: $name;
}
@mixin animation-duration($value) {
    animation-duration: $value;
    -webkit-animation-duration: $value;
    -moz-animation-duration: $value;
    -o-animation-duration: $value;
    -ms-animation-duration: $value;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}