<header>
    <span>{{miTitulo}}</span>
</header>
<section>
    <div>
        {{miMensaje}}
    </div>
</section>
<footer>
    <button ng-click="aceptar()">Aceptar</button>
    <button ng-click="cancelar()" ng-if="esConfirmar">Cancelar</button>
</footer>