<header>
    <span>{{$title}}</span>
</header>
<section>
    <div>Este es un confirm personalizado</div>
    {{$message}}
</section>
<footer>
    <button ng-click="si()">Si</button>
    <button ng-click="no()">No</button>
</footer>