<h3>Modal</h3>
<table>
    <tr>
        <td>
            open modal
        </td>
        <td>
            <button ng-click="openModal()">Open</button>
            <button ng-click="alert()">Alert</button>
            <button ng-click="customAlert()">Custom Alert</button>
        </td>
    </tr>
</table>