<header>modal title</header>
<section test-directive value="testValue">
    <div>{{testValue}}<div>
    <div>
        <input type="text" ng-model="testValue"/>
    </div>
    <div>
        <button ng-click="aceptar()">Aceptar</button>
        <button ng-click="cancelar()">Cancelar</button>
        <button ng-click="openModal()">Open new Modal</button>
        <button ng-click="alert()">Alert</button>
    </div>
</section>
<footer>Modal footer</footer>